<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Upload Form -->
                        <div class="card">
                            <div class="card-header">
                                Upload File
                            </div>
                            <div class="card-body">
                                <form action="/files/uploadfile" method="post" enctype="multipart/form-data" onsubmit="reloadPage()">
                                    <div class="form-group mx-2">
                                        <label for="file">Choose File</label>
                                        <input type="file" class="form-control-file mx-2" id="file" name="file" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- File List -->
                        <div class="card">
                            <div class="card-header">
                                File List
                            </div>
                            <div class="card-body">
                                <ul class="list-group">
                                    <% if (files.length === 0) { %>
                                        <li class="list-group-item">No files available</li>
                                    <% } else { %>
                                        <% files.forEach(file => { %>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            
                                            
                                            <div>
                                                <%= file.name %>

                                                <div class="text-muted">
                                                    Uploaded at: <%= new Date(file.created_date).toLocaleString() %>
                                                </div>

                                                <div >/

                                                    <!-- View -->
                                                    <a href="<%= file.url %>" target="_blank" class="btn btn-sm btn-success mx-2 my-3">View</a>
                                                    <!-- Download Link -->
                                                    <a href="/files/downloadfile/<%= file._id %>" class="btn btn-sm btn-success mx-2  my-3">Download</a>
                                                    <!-- Delete button -->                                            
                                                    <button type="submit" id="deleteButton" onclick="deleteFile('<%= file._id %>')" class="btn btn-sm btn-danger mx-2  my-3">Delete</button>

                                                </div>

                                                
                                            </div>

                                            <span class="badge bg-info text-dark mb-5">
                                                Format: <%= file.file_format %>
                                            </span>

                                            <span class="badge bg-info text-dark mb-5">
                                                Size: <%= file.size %> B
                                            </span>
                                        </li>
                                        <% }); %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="fixed-bottom">
            <%- include('../partials/footer'); %>
        </footer>
        <script async>

            function deleteFile(fileId) {
            if (confirm("Are you sure you want to delete this file?")) {
                fetch('/files/deletefile/' + fileId, {
                    method: 'DELETE',
                    credentials: 'same-origin'
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    // Handle successful deletion
                    console.log('File deleted successfully:', data);
                    window.location.href = "/files?currentPage=files";
                })
                .catch(error => {
                    // Handle errors, including 404 error
                    if (error.message === 'Network response was not ok') {
                        console.error('File not found or unauthorized');
                        // Redirect to the login page or handle the error appropriately
                        window.location.href = '/users/login?currentPage=login';
                    } else {
                        console.error('There was a problem with the delete request:', error);
                    }
                });
            }
        }

        </script>

        <!-- Bootstrap JS -->
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    </body>
</html>
